body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Georgia, tahoma, arial, simsun, "宋体", sans-serif;
}


body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}
.container .text-muted {
  margin: 20px 0;
}

.container .text-muted a {
    color: #777;
    text-decoration: none;
}

input.form-control {
  width: auto;
}